body{
		background-color: #638CB8;
	}
    textarea {
        overflow: auto;
        resize: vertical;
        height: 80px;
        width: inherit;
    }

	input{
		padding: 12px 20px;
		margin: 8px;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		margin: 20px 150px 20px 150px;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}
    .center-column2{
		width: 60%;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #666666;
		margin: 10px;
		padding: inherit;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: row;
	}
    .right {
        padding: 2%;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        position: static;
        align-self: center;
        margin: inherit;
        margin-inline-start: auto;
        align-items: center;
    }
    .left {
        padding: 2%;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        position: static;
        align-self: auto;
        margin: inherit;
        display: flex;
        align-items: center;
    }

    .left2 {
        padding: 2%;
        border-radius: 3px;
        color: #fff;
        font-size: 16px;
        position: static;
        align-self: auto;
        margin: inherit;
        display: flex;
        align-items: center;
        width: 90%;
    }

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
    .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    /* margin-left: -5px; */
    flex: auto;
}