{% extends 'tasks/basic.html' %}

{% block title %}
    Главная
{% endblock %}


{% block email %}
    <a class="btn btn-sm btn-info" href="{% url 'update-email' %}">Редактировать почту</a>
{% endblock %}


{% block main %}
    <div class="row" style="text-align: center; flex-flow: column; margin: 20px;">
        <div class="alert alert-primary" role="alert" >
            {% if user.is_authenticated %}
                Ваши списки находятся во вкладке "Мои списки"
            {% else %}
                Зарегистрируйтесь или войдите, чтобы начать
            {% endif %}
        </div>
        {% if messages %}
            <div>
                {% for message in messages %}
                    <p class="form-control" style="margin: 5px" >{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}