{% extends 'tasks/basic.html' %}

{% block title %}
    Добавление заметки
{% endblock %}
{% block list_button %}
    <div class="dropdown-menu" style="">
        {% for list in lists %}
            <a class="dropdown-item" href="{% url 'tasks' list.id %}">{{ list }}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block list_name %}
    <a class="row justify-content-center" style="color: black;flex: auto;font-size: x-large;
    font-style: oblique;"> Список: {{ list }}</a>
{% endblock %}
{% block main %}
<div class="center-column">
<form method="POST" action="{% url 'add-task' list.id %}" >
    <div class="item-row">
        <div class="left2">
            {% csrf_token %}
            {{form.title}}
        </div>
        <div class="right">
            <input class="btn btn-info" type="submit" name="Create Task" value="Создать">
        </div>
    </div>
</form>
    <div class="todo-list">
        {% for task in tasks %}
            <div class="item-row">
                <div class="left">
                    {% if task.complete == True %}
                    <strike>{{ forloop.counter }}. {{task}}</strike>
                    {% else %}
                    <span>{{ forloop.counter }}. {{task}}</span>
                    {% endif %}
                </div>
                <div class="right">
                    <a class="btn btn-sm btn-info" href="{% url 'update-task' list.id task.id %}">Обновить</a>
                    <a href="{% url 'delete-task' list.id task.id %}" class="btn btn-sm btn-danger" data-actions-icnt="{{ task }}" data-toggle="modal" data-target="#{{ task }}">
                      Удалить
                    </a>
                    <div class="modal fade" id="{{ task }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle" style="color: black">Подтверждение действия</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body">
                                          <form>
                                              <p style="color: black" id="task">Вы уверены действительно хотите удалить запись "{{ task }}"?</p>
                                          </form>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                          <form method="post" action="{% url 'delete-task' list.id task.id %}">
                                              {% csrf_token %}
                                              <input type="submit" class="btn btn-primary" value="Удалить">
                                          </form>
                                      </div>
                                </div>
                          </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
