{% extends 'tasks/basic.html' %}
<style>
</style>
{% block title %}
    Обновление заметки
{% endblock %}
{% block list_button %}
    <div class="dropdown-menu" style="">
        {% for list in lists %}
            <a class="dropdown-item" href="{% url 'tasks' list.id %}">{{ list }}</a>
        {% endfor %}
    </div>
{% endblock %}
{% block main %}
<div class="center-column">
    <form method="POST" action="" >
        <div class="item-row">
            <div class="left2">
                {% csrf_token %}
                {{ form.title }}
                <a>Выполнено:</a>
                {{ form.complete }}
            </div>
            <div class="right">
                <input class="btn btn-sm btn-info" type="submit" name="Update Task" value="Обновить">
            </div>
        </div>
    </form>
</div>
{% endblock %}


